body {
    background-color: #25274d;
    color: #aaabb8;
}

table {
    width: 100%;
    text-align: center;
}

td {
    width: 33.3%;
}

textarea {
    width: 100%;
}

div {
    border: 25px;
    background-color: #464866;
    height: 350px;
    width: 200px;
    margin-left: 80px;
}

button {
    height: 40px;
}

hr {
    border-color: #aaabb8;
}
           
